<a href="https://colab.research.google.com/github/christos8566/freecodecamp_data_analysis.res/blob/main/pandas_lessons/pandas_series_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PANTAS SERIES EXERCISES**

# A. Series creation

## A1. Import libraries

Import libraries of numpy and pandas

In [2]:
# import the numpy package under the name of np
import numpy as np

# import the pandas package under the name of pd
import pandas as pd

# print the pandas version and certifiguration
print(pd.__version__)

1.5.3

## A2. Create an empty pandas series

In [3]:
pd.Series()

<ipython-input-3-fa15c544da3b>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

## A3. Given the X python list, convert it on a y pandas Series

In [4]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

## A4. Given the X pandas Series, name it 'My letters'

In [5]:
X = pd.Series(['A', 'B', 'C'])

X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

## A5. Given the X pandas series, show its values

In [6]:
X = pd.Series(['A', 'B', 'C'])

X.values

array(['A', 'B', 'C'], dtype=object)

# B. Series Indexation

## B1. Assign index names to the given X pandas Series

In [7]:
X = pd.Series(['A', 'B', 'C'])
index_names = ['First', 'Second', 'Third']          # X.index = ['First', 'Second', 'Thrird']

X.index = index_names
X

First     A
Second    B
Third     C
dtype: object

## B2. Given the X pandas Series, show its first element

In [15]:
X['First']  # X[0]  X.iloc[0]

First     A
Second    B
dtype: object

## B3. Given the X pandas Series, show its last element

In [18]:
#X['Third']   # by index
#X[-1]        # by position
X.iloc[-1]    # by position

'C'

## B4. Given the X pandas Series, show all middle elements

In [22]:
X = pd.Series(['A', 'B', 'C', 'D', 'E'],
              index = ['First', 'Second', 'Third', 'Forth', 'Fifth'])

#X.iloc[1:-1]                # by position
#X[1:-1]                     # by position
X['Second' : 'Forth']        # by index

Second    B
Third     C
Forth     D
dtype: object

## B5 Given the X pandas Series, show the elements in reverse position

In [27]:
#X[::-1]
#X.iloc[::-1]
X.sort_values(ascending = False)

Fifth     E
Forth     D
Third     C
Second    B
First     A
dtype: object

In [34]:
#X.iloc[[0, -1]]              # by position
#X[[0, -1]]                   # by position
X[['First', 'Fifth']]         # by index

First    A
Fifth    E
dtype: object

# C. Series manipulation

## C1. Convert the given integer pandas Series to float

In [45]:
X = pd.Series([1, 2, 3, 4, 5],
              index = ['First', 'Second', 'Third', 'Forth', 'Fifth']#, dype = float)
)
pd.Series(X, dtype = float)

First     1.0
Second    2.0
Third     3.0
Forth     4.0
Fifth     5.0
dtype: float64

## C2. Reverse the given pandas Series (first element becomes last)

In [48]:
#X.iloc[::-1]
#X[::-1]
X.sort_values(ascending = False)

Fifth     5
Forth     4
Third     3
Second    2
First     1
dtype: int64

## C3. Order (sort) the given pandas Series

In [50]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

## C4. Given the X pandas Series, set the fifth element equal to 10

In [51]:
X[-1] = 10
X

first      1
second     2
third      3
forth      4
fifth     10
dtype: int64

## C5. Given the X pandas Series, change all the middle elements to 0

In [52]:
X = pd.Series([1, 2, 3, 4, 5], index = ['First', 'Second', 'Third', 'Forth', 'Fifth'])
X[1:-1] = 0
X

First     1
Second    0
Third     0
Forth     0
Fifth     5
dtype: int64

## C6. Given the X pandas Series, add 5 to every element

In [53]:
X = pd.Series([1, 2, 3, 4, 5], index = ['Firts', 'Second', 'Third', 'Fourth', 'Fifth'])
X + 5

Firts      6
Second     7
Third      8
Fourth     9
Fifth     10
dtype: int64

# D. Series boolean arrays (also called masks)

## D1. Given the X pandas Series, make a mask showing negative elements

In [56]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X < 0
mask

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

## D2. Given the X pandas Series, get the negative elements

In [57]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X < 0
X[mask]               #X[X < 0]

0   -1
3   -4
8   -9
dtype: int64

## D3. Given the X pandas Series, get numbers higher than 5

In [58]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X > 5
X[mask]

5     6
9    10
dtype: int64

## D4. Given the X pandas Series, get numbers higher than the elements mean

In [60]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.mean()

0.9

In [59]:
mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

## D5. Given the X pandas Series, get numbers equal to 2 or 10

In [61]:
X[(X == 2) | (X == 10)]

1     2
9    10
dtype: int64

# E. Logical function

## E1. Given the X pandas Series, return True if none of its elements is zero

In [82]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all()

False

## E2. Given the X pandas Series, return True if any of its elements is zero

In [84]:
X.any()

True

# F. Summary statistics

## F1. Given the X pandas Series, show the sum of its elements

In [85]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
#np.sum(X)
X.sum()

43

## F2. Given the X pandas Series, show the mean value of its elements

In [88]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
#np.mean(X)
X.mean()

4.777777777777778

## F3. Given the X pandas Series, show the max value of its elements

In [90]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
#np.max(X)
X.max()

9